@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');




html {
    background-image: url("./assets/soccer-field-g3172b261f_640.jpg")
}

.whole-page-index-container {
   

    background-color: #285102;
    justify-content:center;
}

.index-links-container{
    display:flex;
    Justify-content:center;
    font-family: 'Roboto', sans-serif;

}
.subtitle-of-index-page{display:flex;
Justify-content:center;}

.encyclopedia-link-div {
    display:grid;
    grid-template-columns: 1fr;
   
    margin:2em;
}

.dictionary-link-div {
    display:grid;
    grid-template-columns: 1fr;
    
    
    margin:2em;
   
}

.dictionary-link-div a{
    color:blanchedalmond;
}

.encyclopedia-link-div a{
    color:blanchedalmond;
}

.title-of-index-page{
    font-size:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{display:flex;
    flex-direction: column;
  
    background-color:blanchedalmond;
    text-align:center;
    margin:0;

max-width:960px;
margin:auto;
font-family: 'Roboto', sans-serif;}

footer p {margin:0;}

img{max-width:100%;}

.ref-image{display:flex;
    justify-content:center;
    height:30em;
}
.title-and-subtitle {
    font-family: 'Merriweather', serif;
    background-color: blanchedalmond;
   
}
.to-provide-margin-in-encyclopedia-header{
    margin:2em;
}

.title-and-subtitle h1 a{
    margin:2em;
}
main{max-width: 960px;
    
margin:auto;}
.container-for-2-columns-dictionary-page{display:grid;
grid-template-columns: 1fr 1fr;}

 img {max-width:100%;}

/*style for encyclopedia*/
.searchResults{background-color: #dceed1;}
.title-of-encyclopedia-page{   
    display: flex;
    align-items: center;
    justify-content: center;}

    .encyclopedia-main{background-color:
        #dceed1;
  }

    /*style for dictionary*/
    .dictionary-main{
        background-color:
        #dceed1;
    }
    .two-columns-for-encyclopedia-page{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .dictionary-header-words{margin:2em;}
  .dictionary-colum-1{margin:2em;}
  .searchBar{margin:2em;}
  h1{text-align:center;}
  .title-and-subtitle{
    background-image:  radial-gradient(#285102, white, blanchedalmond);;
  }
  .resultItem{margin:2em;}
  .ref-main {background-color: blanchedalmond;
}